## Introduction to Python

### Pengenalan Python

**Python** adalah bahasa pemrograman tingkat tinggi (high level programming language) yang mudah dibaca dan mudah dipelajari. Python banyak digunakan dalam berbagai bidang seperti :  
- Data Science
- Machine Learning
- Web Development
- Automation
- Artificial Intelligence  
- Python dibuat oleh Guido van Rossum pada tahun 1991 

**Mengapa Python Populer?**  
Beberapa alasan Python sangat populer :  
- Sintaks sederhana dan mudah dipahami
- Banyak library dan framework
- Komunitas besar
- Cocok untuk pemula hingga profesional
- Banyak digunakan di industri teknologi   

Dalam konteks Data Science, Python sering digunakan karena memiliki library seperti :  
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

### Aturan Penulisan Python (Basic Syntax Rules)

Python memiliki aturan penulisan yang harus diikuti agar program bisa berjalan dengan benar.  
**A. Case Sensitive**  
Python bersifat **case-sensitive**, artinya huruf besar dan kecil dianggap berbeda

In [8]:
nama = "Smith"
Nama = "Sam Smith"

**nama** dan **Nama** dianggap sebagai dua variabel yang berbeda.

**B. Indentation**  
Python menggunakan indentasi (spasi di awal baris) untuk menentukan blok kode.

In [9]:
if 5 > 2:
    print("Lima lebih besar dari dua.")

Lima lebih besar dari dua.

Indentasi biasanya menggunakan **4 spasi**  
Tanpa indentasi yang benar, program akan error.

**C. Comment (Komentar)**  
Komentar digunakan untuk memberi penjelasan pada kode.  
Komentar satu baris :

In [10]:
# Ini adalah komentar satu baris

Komentar multi baris :

In [11]:
"""
Ini adalah komentar
lebih dari satu baris
"""

'\nIni adalah komentar\nlebih dari satu baris\n'

Komentar tidak akan dieksekusi oleh program

**D. Penamaan Variabel**  
Aturan dasar :  
- Tidak boleh diawali angka  
- Tidak boleh menggunakan spasi
- Tidak boleh menggunakan simbol khusus seperti @,#,$
- Boleh menggunakan underscore _

In [12]:
# Contoh yang benar
nama_user = "Smith"
total_gaji = 5000000

In [13]:
# Contoh yang salah
1nama_user = "Smith"
total gaji = 5000000

SyntaxError: invalid syntax (26478330.py, line 2)

### Variabel pada Python

**Apa itu variabel?**  
Variabel adalah tempat untuk menyimpan data.  
Contoh :

In [14]:
"""
nama menyimpan teks
umur menyimpan angka
"""

nama = "Smith"
umur = 30

Python tidak perlu mendeklarasikan tipe data secara manual. Tipe data akan ditentukan otomatis.

### Tipe Data pada Python

**A. Integer (int)**  
Digunakan untuk angka bulat

In [15]:
umur = 30
jumlah = 50

**B. Float**  
Digunakan untuk angka desimal

In [16]:
tinggi = 160.5
berat = 68.5

**C. String (str)**  
Digunakan untuk teks.

In [17]:
"""
String bisa menggunakan tanda petik satu
atau tanda petik dua"
"""

nama = "Smith"
kota = 'Jakarta'

**D. Boolean (bool)**  
Digunakan untuk nilai benar atau salah

In [18]:
is_active = True
is_login = False

Nilainya hanya :
- True
- false

**E. List**  
Digunakan untuk menyimpan banyak data dalam satu variabel

In [19]:
"""
List menggunakan tanda kurung siku []
"""

buah = ["apel", "jeruk", "pisang"]
angka = [1, 2, 3, 4, 5]

**F. Tuple**  
Mirip dengan list, tetapi tidak bisa diubah (immutable)

In [20]:
"""
Menggunakan tanda kurung biasa ()
"""

koordinat = (10, 20)

**G. Dictionary**  
Menyimpan data dalam bentuk pasangan key dan value

In [21]:
"""
Menggunakan tanda kurung kurawal {}
"""

data = {
    "nama": "Smith",
    "umur": 30,
    "kota": "Jakarta"
}

### Mengecek Tipe Data

Untuk mengetahui tipe data suatu variabel, gunakan fungsi :

In [24]:
print(type(nama))

<class 'str'>